/node_modules
/public/hot
/public/storage
/public/Admin_uploads
/public/uploads
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.example
.env.example2
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
/.idea
/.vscode
