///////////////////////////////////////////////////////////////
//item Component
.items {
  .item {
    .item-img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
      width: 100%;
      min-width: 140px;
      max-width: 350px;
      // height: 325px;
      position: relative;
      cursor: pointer;

      img {
        width: 100%;
        height: 100;
        object-fit: cover;
      }
    }
    .hart-icon-btn {
      margin-top: 10px;
      margin-inline-end: 10px;
      border: none;
      background-color: $white;
      border-radius: 35px;
      transition: 0.2s;
      position: absolute;
      left: 5px;
      right: 5px;
      z-index: 2px;

      &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      }
    }

    .cart-icon-btn {
      margin-top: 10px;
      margin-inline-end: 10px;
      border: none;
      background-color: $white;

      transition: 0.2s;

      &:hover {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      }
    }
    .btn-fav-toggle {
      border: none;
      background-color: inherit;
      border-radius: 30px;
    }

    .item-name {
      margin: 12px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      color: #6c757d;
    }
    .item-price {
      font-style: normal;
      font-weight: 600;
      // font-size: 18px;
      color: #dc3545;
    }
    .item-price-old {
      font-style: normal;
      font-weight: normal;
      // font-size: 18px;
      color: #6c757d;
      text-decoration: line-through;
    }
  }
}

@media only screen and (min-width: 600px) {
  .item-img {
    height: 325px;
  }
  .item-price {
    font-size: 18px;
  }
  .item-price-old {
    font-size: 18px;
  }
  .hart-icon-btn,
  .cart-icon-btn {
    width: 32px;
    height: 32px;
  }
}

@media only screen and (max-width: 600px) {
  .item-img {
    height: 190px;
  }
  .item-price {
    font-size: 12px;
  }
  .item-price-old {
    font-size: 12px;
  }
  .hart-icon-btn,
  .cart-icon-btn {
    width: 24px;
    height: 24px;
  }
}
