.profile-page {
    .user-img-name {
        .user-img {
            position: relative;
            img {
                width: 100px;
                height: 100px;
                border-radius: 100px;
                object-fit: cover;
                z-index: 2;
                margin-top: -40px;
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
            }
            .upload-btn-wrapper {
                border: none;
                background-color: inherit;
                color: white;
                position: absolute;
                border-radius: 20px;
                padding: 4px;
                background-color: gray;
                top: 22px;
                right: -10px;
                z-index: 2;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .user-name {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
    }
    .profile-nav {
        background-color: inherit;
        .toggle-btn {
            border: none;
        }
        .link-item {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #212529;
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
        .selected-link {
            opacity: 1;
        }
    }
    .profile-update {
        .header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
        form {
            max-width: 350px;

            input {
                border-radius: 30px;
                border: 1px solid #6c757d;
                height: 38px;
            }
            .paragraph-update {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #495057;
            }
            .error-message {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: rgba(255, 0, 0, 0.938);
            }
            .btn-save-changes {
                width: 150px;
                height: 38px;
                border: 1px solid #ffffff;
                border-radius: 34px;
                background-color: #212529;
                color: white;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                &:hover {
                    opacity: 0.8;
                }
            }
            .change-pass-link {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #dc3545;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .profile-address {
        .header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
        .secondary-header {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #868e96;
        }
        .map section {
            .map-header {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #495057;
            }
        }
        form {
            .custom-input {
                border-radius: 30px;
                border: 1px solid #6c757d;
                height: 38px;
                max-width: 350px;
            }

            textarea {
                resize: none;
                border: 1px solid #ced4da;
                border-radius: 20px;
            }
            .paragraph-form-address {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #495057;
            }
            .error-message {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                //color: rgba(255, 0, 0, 0.938);
                color: #007e33;
            }
            .btn-save-address {
                width: 150px;
                height: 38px;
                border: 1px solid #ffffff;
                border-radius: 34px;
                background-color: #212529;
                color: white;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .btn-add-new-address {
            width: 150px;
            height: 38px;
            background-color: white;
            border: 1px solid #212529;
            border-radius: 34px;
            color: #212529;
            font-weight: bold;

            &:hover {
                opacity: 0.8;
            }
        }
        .one-address {
            border-bottom: 1px solid #e4e7ec;
            .address-details {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;

                span:last-child {
                    color: #868e96;
                }
            }
            .btn-edit,
            .btn-delete {
                width: 20px;
                height: 20px;
                padding: 2px;
                border: none;
                background-color: inherit;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .first-address {
            span {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #6c757d;
            }
            .btn-add-first-address {
                width: 150px;
                height: 38px;
                background: #212529;
                border: 1px solid #ffffff;
                border-radius: 34px;
                color: white;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .profile-orders {
        .header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
        .filter-buttons {
            border: 1px solid #dee2e6;
            height: 55px;

            .btn-filter {
                display: flex;
                justify-content: center;
                align-items: center;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #6c757d;
                border: none;
                background-color: inherit;
                width: 230px;
                height: 36px;
                &:hover {
                    opacity: 0.8;
                }
            }
            .btn-active {
                background-color: #000000;
                border: 1px solid #343a40;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
                color: #ffffff;
            }
        }
        .order-details {
            .header-secondary {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
            }
            .second-details {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #868e96;
            }
        }
        .progress-order {
            .progress-details {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #6c757d;
                .progress-details-cancel {
                    color: rgba(255, 0, 0, 0.637);
                }
                .progress-details-confirm {
                    color: #28a745;
                }
            }
        }
        .order-items {
            .header {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #6c757d;
            }
            .order-item {
                img {
                    max-width: 144px;
                    height: 135px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                .brand-name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    color: #6c757d;
                }
                .item-name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
                .item-price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                }
                .item-count {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: #868e96;
                }
            }
        }
        .btn-order-details {
            background-color: inherit;
            border: none;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .order-details-page {
        .secondary-color-grey {
            color: #868e96;
        }
        .order-code {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
        }
        .progress-order {
            .progress-details {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #6c757d;
                .progress-details-cancel {
                    color: rgba(255, 0, 0, 0.637);
                }
                .progress-details-confirm {
                    color: #28a745;
                }
            }
        }
        .details-section {
            .order-details-line {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
            }
        }
        .order-items {
            .header {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #6c757d;
            }
            .order-item {
                img {
                    max-width: 144px;
                    height: 135px;
                    border-radius: 5px;
                    object-fit: cover;
                }
                .brand-name {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    color: #6c757d;
                }
                .item-name {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                }
                .item-price {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                }
                .item-count {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    color: #868e96;
                }
            }
        }
        .btn-order-again,
        .btn-return-order {
            width: 150px;
            height: 38px;
            border: 1px solid #212529;
            background-color: inherit;
            border-radius: 34px;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            &:hover {
                opacity: 0.8;
            }
        }
        .btn-order-again {
            background-color: #212529;
            color: white;
        }
        .order-calc {
            background-color: #f9fafb;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 5%;
                height: 1px;
                width: 90%;
                border-bottom: 1px solid #e4e7ec;
            }
            .second-header {
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: black;
            }
            .calc-result {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                color: #6c757d;
            }
        }
        .order-total {
            background-color: #f9fafb;
        }
        .second-header {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: black;
        }
        .calc-result {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            color: #212529;
        }
        .submit-order {
            background-color: #f9fafb;
            .btn-complete-order {
                width: 150px;
                height: 38px;
                background-color: #212529;
                border: 1px solid #ffffff;
                border-radius: 34px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: white;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .product-return {
        .header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
        form {
            .custom-input {
                border-radius: 30px;
                border: 1px solid #6c757d;
                height: 38px;
                max-width: 350px;
            }

            textarea {
                resize: none;
                border: 1px solid #ced4da;
                border-radius: 20px;
            }
            select {
                border-radius: 30px;
                border: 1px solid #6c757d;
                height: 38px;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 21px;
            }
            .secondary-header {
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                color: #495057;
            }
            .error-message {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                //color: rgba(255, 0, 0, 0.938);
                color: #007e33;
            }
            .btn-send-request {
                width: 150px;
                height: 38px;
                border: 1px solid #ffffff;
                border-radius: 34px;
                background-color: #212529;
                color: white;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .btn-add-new-address {
            width: 150px;
            height: 38px;
            background-color: white;
            border: 1px solid #212529;
            border-radius: 34px;
            color: #212529;
            font-weight: bold;

            &:hover {
                opacity: 0.8;
            }
        }
    }
    .coupon-page {
        .section-header {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
        }
        .coupon-body {
            width: 100%;
            border-radius: 20px;
            background-color: #000000;
            color: white;

            .header {
                font-weight: normal;
                font-size: 26px;
            }
            .copy-section {
                height: 50px;
                background-color: white;
                color: #000000;
                font-weight: normal;
                font-size: 26px;
                border-radius: 5px;

                .coupon-code {
                    border: none;
                    border-radius: 5px;
                }
                .copy-word {
                    background-color: #000000;
                    color: white;
                    font-weight: normal;
                    font-size: 18px;
                    border-radius: 5px;
                    border: none;
                }
            }
            .coupon-details {
                font-weight: normal;
                font-size: 20px;
            }
            .brand-logo_coupon {
                border-radius: 5px;
                background-color: white;
                img {
                    max-width: 120px;
                    height: 50px;
                }
            }
        }
    }
}
