.recent-items-page{
    .page-names {
        .page-name {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          color: #667085;
          text-transform: capitalize;
          
        }
      }
}